{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Main Page
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="page">
        <div class="logo">
            <img src="{% static 'images/gif/logo.gif' %}" alt="logo">
        </div>
        <ul id="navigation">
            <li><a href="{% url 'home' %}" class="on">Home</a></li>
            <li><a href="{% url 'sale' %}">For Sale</a></li>
            <li><a href="{% url 'repairs' %}">Repairs</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>        
        {% block content %}
            <p>
                <img src="{% static 'images/jpg/keys.jpg' %}" alt="Fender Rhodes, Hohner Clavinet,
                and Wurlitzer EP200" />
            </p>
            <p>
                We specialise in the sales and repair of classic keyboards, in particular
                the Fender Rhodes, Wurlitzer EP200, and Hohner Clavinet.
            </p>   
        {% endblock %}
    </div>
</body>
</html>