{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <h1 id="name">name: Amir</h1>
    <h1 id="surname">surname: Amanov</h1>
    <h1 id="age">age: 15</h1>
    <h1 id="hobby">hobby: Programming</h1>

<img src="https://64.media.tumblr.com/b307bdbe2ac84c314d5526794ca9c26e/d89f20310830b308-49/s1280x1920/05f7fb8c2e77ceb3edb3df21aa6ee1186c4bb43b.png" alt="">

    <a href="https://github.com/bloodlean">
        <center><img id="github" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="">
        </center>
    </a>

</body>
</html>